


#switch{
   display: flex;
   margin-top: 100px;
   margin-left: 600px;
}

#switch button{
    width: 200px;
    height: 100px;   
    border: none;
    background: linear-gradient(135deg, #0033ff, #08004d);
            color: white;

            border-radius: 25px;
            font-size: 30px;
            transition: 0.5s;
}

#switch button:active{
            transform: scale(0.95);
           
        }


        


#switch button:hover{
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0,0,0,0.4);
            transition: 0.2s;
        }